@import url('https://fonts.googleapis.com/css?family=Poppins:300i&display=swap');

 
body {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
}


/* (A) CONTAINER */
#mem-game {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  max-width: 420px;
  margin: 0 auto;
}

/* (B) CARDS */
.mem-card {
	padding: 10px;
	cursor: pointer;
	background: #e5e5e5;
	width: 56px;
	height: 56px;
}
.mem-card.open { background: #fea; }
.mem-card.right { background: #b3ffc0; }
.mem-card.wrong { background: #ffb6b6; }